.react-calendar {
  width: 350px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.7);
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.125em;
  border-radius: 15px;
  margin: 2rem 0;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.react-calendar__navigation__prev-button {
  border-top-left-radius: 15px;
}

.react-calendar__navigation__next-button {
  border-top-right-radius: 15px;
}

.react-calendar__navigation__arrow:hover {
  background-color: rgb(100, 158, 189);
}

.react-calendar__navigation__arrow:active {
  background-color: rgb(101, 139, 160);
}

.react-calendar__navigation button {
  min-width: 44px;
  background-color: rgba(101, 139, 160, 0.7);
  color:white;
  font-size: 2rem
}

.react-calendar__navigation button:disabled {
  color: white;
}

/* .react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(101, 139, 160, 0.7);
} */

.react-calendar__month-view__weekdays {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.25rem 0rem;
  max-width: 2.75rem;
  margin: 0.15rem;
  border-radius: 10px;
  background-color: rgba(101, 139, 160, 0.7);
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

/* .react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
} */

.react-calendar__month-view__days {
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.react-calendar__tile {
  font-weight: 500;
  color: #658BA0;
  max-width: 2.75rem;
  height: 3.25rem;
  padding: 10px 6.6667px;
  margin: 0.35rem 0.15rem!important;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 16px;
  border-radius: 15px;
  font-size: 1.5rem;
  outline: 2px solid #bcbcbc!important;
}

.react-calendar__month-view__days__day--weekend {
  color: #f66262;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #c3c3c3;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgb(185, 223, 243);
  border-radius: 15px;
}

.react-calendar__tile--now {
  background: rgba(120, 225, 187, 0.7);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgba(120, 225, 187, 0.7);
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

/* .react-calendar__tile--active {
  background-color: rgb(101, 139, 160);
  color: white;
} */

/* .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: rgb(101, 139, 160);
} */

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
