.arrows {
  font-size: 3rem;
  color: white;
}

.bottom-nav-row {
  gap: 5rem;
}

@media (min-width:720px) {
  .bottom-nav-row {
    gap: 6.5rem;
  }
}

@media (min-width:768px) {
  .bottom-nav-row {
    gap: 10rem;
  }
}
