.arrows {
  font-size: 3rem;
  color: white;
}

.arrow-left{
  margin-right: 5rem;
}

.arrow-right {
  margin-left: 5rem;
}

@media (min-width:720px) {
  .arrow-left {
      margin-right: 6.5rem;
    }

  .arrow-right {
    margin-left: 6.5rem;
  }
}

@media (min-width:768px) {
  .arrow-left {
    margin-right: 10rem;
  }

  .arrow-right {
    margin-left: 10rem;
  }
}
