.calendar-icon {
  color: #658BA0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  width: 4rem;
  height: 4rem;
  cursor:pointer;
}

.calendar-icon:active {
  color: #316988;
}
