.day-content {
  color: #658BA0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  min-width: 250px;
  max-width: 800px;
}

h3 {
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.text-height {
  height: 9rem;
}

#view-the-day-button {
  transition: background-color 0.3s ease;
  border: none;
  background-color: #658BA0;
  color: white;
  border-radius: 15px;
  font-size: 1rem;
}

#view-the-day-button:hover {
  background-color: rgb(100, 158, 189);
}

#view-the-day-button:active {
  background-color: rgb(101, 139, 160);
}

.homepage-events-notes {
  min-height: 280px;
}
