h1 {
  color: white;
  transition: color 0.3s ease;
}

h1:active {
  color: #f05832
}

.bg-color {
  background-color: #E19178;
}

.btn-primary {
  background-color: #C56E53;
  border: none;
}

.btn-primary:hover {
  background-color: #d63d0f;
}

.btn-primary:active {
  background-color: #913e25!important;
}
