* {
  box-sizing: border-box;
}

#year-changer {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  color: #658BA0;
  max-width: 215px;
  margin: 1.5rem auto
}

.cursor-pointer {
  cursor: pointer!important;
  transition: color 0.3s ease;
}

.cursor-pointer:hover {
  color: #2ea2e1
}

.cursor-pointer:active {
  color:#1b6a95
}

#change-year-p {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.85rem;
  font-weight: 600;
}

.month-icons {
  transition: background-color 0.3s ease;
  margin-bottom: 0;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  width: 6rem;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  color: #658BA0;
  margin: 1rem auto;
  cursor: pointer;
  text-decoration: none;
}

.month-icons:hover {
  background-color: #75b0d3;
  color: rgba(255, 255, 255, 0.85);
}

.current-month {
  background-color: rgba(120, 225, 187, 0.7);
}

.month-icons:active {
  background-color: #4a84a6;
  color: rgba(255, 255, 255, 0.85);
}

.months {
  max-width: 800px;
}
